In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

In [85]:
#!conda install -c conda-forge geopy --yes
#!conda install -c conda-forge folium=0.5.0 --yes

In [4]:
import json
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

print("All required libraries are imported")

All required libraries are imported

In [5]:
!wget -q -O 'Torranto_data.json' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
#!wget -q -O 'Torranto_data.json' https://cocl.us/new_york_dataset
print("Data downloaded")

Data downloaded

In [14]:
#with open('Torranto_data.json') as json_data:
#    Torranto_data = json.load(json_data)

In [86]:
#!conda install -c conda-forge geopy --yes
#!conda install -c conda-forge beautifulsoup4 --yes

In [6]:
from bs4 import BeautifulSoup

In [7]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
soup= BeautifulSoup(response.text, "html.parser")

In [8]:
table = soup.find('table', {'class': 'wikitable sortable'})

In [87]:
#table

In [84]:
# Trying scrap the Table using BeautifulSoup but it's not working
#df = []

#for row in table.find_all('tr'):
#    columns = row.find_all('td')
#    if len(columns)>0:
#        Postcode = row.columns[0].get_text()
#        Borough = row.columns[1].get_text()
#        Neighbourhood = row.column[2].get_text()
#        df.append([Postcode,Borough,Neighbourhood])

In [58]:
#td=table.find_all('td')
#td

In [59]:
#tr=table.find_all('tr')
#tr

In [49]:
df1=pd.read_html(url)
df1[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [50]:
data = df1[0].copy()

In [51]:
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [53]:
data.shape

(288, 3)

In [54]:
data.isnull().sum()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

In [57]:
list(data)

['Postcode', 'Borough', 'Neighbourhood']

In [88]:
data[data['Borough']=='Not assigned'].head()

   Postcode       Borough Neighbourhood
0       M1A  Not assigned  Not assigned
1       M2A  Not assigned  Not assigned
9       M8A  Not assigned  Not assigned
13      M2B  Not assigned  Not assigned
20      M7B  Not assigned  Not assigned

In [71]:
data2= data[data['Borough']!='Not assigned'].copy()

In [72]:
data2.shape

(211, 3)

In [74]:
data2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [75]:
data3=data2.copy()

In [78]:
data2=data2.groupby('Postcode').agg({'Borough':'first', 'Neighbourhood': ', '.join}).reset_index()

In [79]:
data2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [80]:
data2.shape

(103, 3)

In [83]:
data2[data2['Postcode']=='M5A']

   Postcode           Borough              Neighbourhood
53      M5A  Downtown Toronto  Harbourfront, Regent Park

In [89]:
# I need to to do further visualisation