In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

In [85]:
#!conda install -c conda-forge geopy --yes
#!conda install -c conda-forge folium=0.5.0 --yes

In [4]:
import json
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

print("All required libraries are imported")

All required libraries are imported

In [5]:
!wget -q -O 'Torranto_data.json' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
#!wget -q -O 'Torranto_data.json' https://cocl.us/new_york_dataset
print("Data downloaded")

Data downloaded

In [14]:
#with open('Torranto_data.json') as json_data:
#    Torranto_data = json.load(json_data)

In [86]:
#!conda install -c conda-forge geopy --yes
#!conda install -c conda-forge beautifulsoup4 --yes

In [6]:
from bs4 import BeautifulSoup

In [7]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
soup= BeautifulSoup(response.text, "html.parser")

In [8]:
table = soup.find('table', {'class': 'wikitable sortable'})

In [87]:
#table

In [84]:
# Trying scrap the Table using BeautifulSoup but it's not working
#df = []

#for row in table.find_all('tr'):
#    columns = row.find_all('td')
#    if len(columns)>0:
#        Postcode = row.columns[0].get_text()
#        Borough = row.columns[1].get_text()
#        Neighbourhood = row.column[2].get_text()
#        df.append([Postcode,Borough,Neighbourhood])

In [58]:
#td=table.find_all('td')
#td

In [59]:
#tr=table.find_all('tr')
#tr

In [49]:
df1=pd.read_html(url)
df1[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [50]:
data = df1[0].copy()

In [51]:
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [53]:
data.shape

(288, 3)

In [54]:
data.isnull().sum()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

In [57]:
list(data)

['Postcode', 'Borough', 'Neighbourhood']

In [68]:
data[data['Borough']=='Not assigned'].

    Postcode       Borough Neighbourhood
0        M1A  Not assigned  Not assigned
1        M2A  Not assigned  Not assigned
9        M8A  Not assigned  Not assigned
13       M2B  Not assigned  Not assigned
20       M7B  Not assigned  Not assigned
21       M8B  Not assigned  Not assigned
30       M2C  Not assigned  Not assigned
36       M7C  Not assigned  Not assigned
37       M8C  Not assigned  Not assigned
45       M2E  Not assigned  Not assigned
46       M3E  Not assigned  Not assigned
50       M7E  Not assigned  Not assigned
51       M8E  Not assigned  Not assigned
52       M9E  Not assigned  Not assigned
54       M2G  Not assigned  Not assigned
55       M3G  Not assigned  Not assigned
59       M7G  Not assigned  Not assigned
60       M8G  Not assigned  Not assigned
61       M9G  Not assigned  Not assigned
73       M7H  Not assigned  Not assigned
74       M8H  Not assigned  Not assigned
75       M9H  Not assigned  Not assigned
88       M7J  Not assigned  Not assigned
89       M8J  Not assigned  Not assigned
90       M9J  Not assigned  Not assigned
104      M7K  Not assigned  Not assigned
105      M8K  Not assigned  Not assigned
106      M9K  Not assigned  Not assigned
120      M7L  Not assigned  Not assigned
121      M8L  Not assigned  Not assigned
136      M7M  Not assigned  Not assigned
137      M8M  Not assigned  Not assigned
148      M7N  Not assigned  Not assigned
149      M8N  Not assigned  Not assigned
155      M3P  Not assigned  Not assigned
161      M7P  Not assigned  Not assigned
162      M8P  Not assigned  Not assigned
167      M3R  Not assigned  Not assigned
175      M8R  Not assigned  Not assigned
181      M2S  Not assigned  Not assigned
182      M3S  Not assigned  Not assigned
188      M7S  Not assigned  Not assigned
189      M8S  Not assigned  Not assigned
190      M9S  Not assigned  Not assigned
194      M2T  Not assigned  Not assigned
195      M3T  Not assigned  Not assigned
201      M6T  Not assigned  Not assigned
202      M7T  Not assigned  Not assigned
203      M8T  Not assigned  Not assigned
204      M9T  Not assigned  Not assigned
209      M2V  Not assigned  Not assigned
210      M3V  Not assigned  Not assigned
223      M6V  Not assigned  Not assigned
224      M7V  Not assigned  Not assigned
237      M2W  Not assigned  Not assigned
238      M3W  Not assigned  Not assigned
241      M6W  Not assigned  Not assigned
242      M7W  Not assigned  Not assigned
247      M2X  Not assigned  Not assigned
248      M3X  Not assigned  Not assigned
253      M6X  Not assigned  Not assigned
254      M7X  Not assigned  Not assigned
258      M9X  Not assigned  Not assigned
259      M1Y  Not assigned  Not assigned
260      M2Y  Not assigned  Not assigned
261      M3Y  Not assigned  Not assigned
263      M5Y  Not assigned  Not assigned
264      M6Y  Not assigned  Not assigned
274      M9Y  Not assigned  Not assigned
275      M1Z  Not assigned  Not assigned
276      M2Z  Not assigned  Not assigned
277      M3Z  Not assigned  Not assigned
278      M4Z  Not assigned  Not assigned
279      M5Z  Not assigned  Not assigned
280      M6Z  Not assigned  Not assigned
281      M7Z  Not assigned  Not assigned
287      M9Z  Not assigned  Not assigned

In [71]:
data2= data[data['Borough']!='Not assigned'].copy()

In [72]:
data2.shape

(211, 3)

In [74]:
data2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [75]:
data3=data2.copy()

In [78]:
data2=data2.groupby('Postcode').agg({'Borough':'first', 'Neighbourhood': ', '.join}).reset_index()

In [79]:
data2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [80]:
data2.shape

(103, 3)

In [83]:
data2[data2['Postcode']=='M5A']

   Postcode           Borough              Neighbourhood
53      M5A  Downtown Toronto  Harbourfront, Regent Park